@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", system-ui, sans-serif;
    --color-light-dark: #242424;
    
    /* Define the animation utility name as a CSS variable */
    --animate-marquee: marquee 100s linear infinite;

    /* Embed the standard CSS keyframes right inside the theme block */
    @keyframes marquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-50%); }
    }

    /* This automatically generates the 'animate-fade-in' utility class */
    --animate-fade-in: fade-in 0.8s ease-out forwards;

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px); /* Optional: Adds a slight upward slide */
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* On garde votre configuration linéaire exacte sur 30 secondes */
    --animate-glow-effect: GlowLoop 35s linear infinite;

    @keyframes GlowLoop {
        /* 0% à 0.8% : La lumière commence invisible et s'allume en douceur */
        0% { --border-angle: 0deg; opacity: 0; filter: blur(0px) drop-shadow(0 0 0px transparent);}
        0.8% { --border-angle: 40deg; opacity: 1; filter: blur(12px) drop-shadow(0 0 15px #a142f4);}

        /* 0.8% à 4% : La lumière continue sa course normalement autour du bouton */
        4% { --border-angle: 360deg; opacity: 1; filter: blur(12px) drop-shadow(0 0 15px #a142f4);}

        /* 4% à 6.5% : La lumière continue de tourner légèrement en s'éteignant doucement */
        6.5% { --border-angle: 380deg; opacity: 0; filter: blur(0px) drop-shadow(0 0 0px transparent);}

        /* 6.51% à 100% : Le bouton reste totalement propre et inchangé pendant le reste des 30s */
        6.51%, 100% { --border-angle: 0deg; opacity: 0; filter: blur(0px) drop-shadow(0 0 0px transparent);}
    }
    
}

/* This is the magic key: It tells the browser that this variable is a strict angle mathematical unit */
@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


/* Utility for animating the gradient line below word*/
@utility animate-gradient-shift {
    background-size: 200% 200%;
    animation: shift-bg 4s linear infinite;
}

/* Custom keyframes used by animate-gradient-shift utility */
@keyframes shift-bg {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/*@layer base {
    html {
        font-family: var(--font-inter);
    }
}*/

@plugin "daisyui" {
    themes: light --default;
}



@plugin "daisyui/theme" {
    name: "lighty";
    default: false;
    prefersdark: false;
    color-scheme: "lighty";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: #eeeeee;
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: var(--color-blue-600);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}




:root {
    /*font-family: InterVariable, system-ui, Helvetica, Avenir, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
    /*font-family: "Inter", system-ui, Helvetica, Avenir, Arial, sans-serif;*/
    font-family: Inter, system-ui, sans-serif;
    font-feature-settings: "cv11"; /* fix for Chrome */
}


@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

a {
  /*font-weight: 500;
  color: #646cff;
  text-decoration: inherit;*/
}
a:hover {
  /*color: #535bf2;*/
}

body {
 margin: 0;
  /*display: flex;*/
 /* place-items: center;*/
  min-width: 320px;
 /*min-height: 100vh;*/
}

/*h1 { 
  font-size: 3.2em;
  line-height: 1.1;
}*/

#waveform-container.hidden-waveform {
    display: none !important; /* using !important might be necessary depending on existing styles */
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
}

    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome/Safari/Opera */
    }
